@page
@model ScoreManagement.Pages.AdminMenu.SemestersManage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].SemesterCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Semester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterCode)
            </td>
            <td>
                    @item.StartDate?.ToString("dd/MM/yyyy")
            </td>
            <td>
                    @item.EndDate?.ToString("dd/MM/yyyy")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SemesterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SemesterId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SemesterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
