@page
@model ScoreManagement.Pages.StudentMenu.StudentDashboardModel
@{
}
@{
    ViewData["Title"] = "Student Dashboard";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Asset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Asset/css/sb-admin-2.min.css" rel="stylesheet">


</head>


<body>
    <header>
        <div id="wrapper">
            

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Gọi Topbar từ Partial View -->
                    @await Html.PartialAsync("_Topbar")

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <br />
                        <h1 class="h3 mb-2 text-gray-800">Grade Report for @Model.FullName (@Model.StudentCode)</h1>
                        <p class="mb-4">
                            Below is the detailed grade report for each course and assessment component for the selected student.
                        </p>


                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Semester</th>
                                        <th>CourseName</th>
                                        <th>CourseCode</th>
                                        <th>Assignment 1</th>
                                        <th>Assignment 2</th>
                                        <th>Assignment 3</th>
                                        <th>Progress Test 1</th>
                                        <th>Progress Test 2</th>
                                        <th>Progress Test 3</th>
                                        <th>Final Exam</th>
                                        <th>Average Score</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="reportTableBody">
                                    @foreach (var report in Model.StudentReports)

                                    {
                                        <tr>
                                            <td>@report.SemesterCode</td>
                                            <td>@report.CourseName</td>
                                            <td>@report.CourseCode</td>
                                            <td>@report.Assignment1</td>
                                            <td>@report.Assignment2</td>
                                            <td>@report.Assignment3</td>
                                            <td>@report.ProgressTest1</td>
                                            <td>@report.ProgressTest2</td>
                                            <td>@report.ProgressTest3</td>
                                            <td>@report.FinalExam</td>
                                            <td>@string.Format("{0:F2}", report.AverageScore)</td>
                                            <td>@report.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
            <!-- End of Main Content -->

                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->

        </div>
    </header>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Asset/vendor/jquery/jquery.min.js"></script>
    <script src="~/Asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Asset/vendor/jquery-easing/jquery.easing.min.js">    </script>

    <!-- Custom scripts for all pages-->
    <script src="~/Asset/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Asset/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Asset/js/demo/datatables-demo.js"></script>


   


</body>
</html>







