@page
@model ScoreManagement.Pages.AdminMenu.StudentsCoursesManage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCourse[0].StudentCourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCourse[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCourse[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCourse[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCourse[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCourse[0].Lecturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentsCourse) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.StudentCourseId)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassCode)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Student.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.SemesterCode)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Lecturer.LecturerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentCourseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentCourseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentCourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
